
.stat-card {
    background:rgba(248,252,253,0.937);
    padding: 1rem 1rem;
    margin: 1rem -1rem;
    transition: box-shadow .3s;
    height: 15rem;
   
}
.stat-card:hover {
    box-shadow: 0 0 40px rgba(33,33,33,.2); 
}

.stat-number{

    color: rgb(37,58,179);
    font-size:x-large;
    font-weight: 900;
  
}