.blue-section{
    background-color:rgb(66,83,180);
    position: relative;
    bottom: 100px;
    height: 20vh;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


@media only screen and (max-width: 600px) {
    .blue-section{
        background-color:rgb(66,83,180);
        position: relative;
        bottom: 100px;
        height: 39vh;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}    