.stats-section{
    background-color:rgb(77,0,122);
    padding-top: 0;
    margin-top: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    bottom: 30px;
    box-shadow: 4px 4px 4px 2px;
   
}

.data-title{
    font-weight: 800;
    color: white;
}
.title-text{
    font-weight: 800;
    padding-top: 2rem;
    color: white
}

.color-container{
    background-color:rgb(37,242,182);
    position: relative;
    bottom: 50px;
}