
.bg-footerBlue{
    background-color: rgb(37, 58, 179);
   
    
}
.col-md-3{
    color:white;
}

.list-unstyled{
    color: white;
}
.text-sm-center{
    font-size: smaller;
    color:white;
    margin-bottom: 0px;
    margin-top: 0px;
   
}