.login-form{
    margin-top: 1rem;
    border: 1px solidblack;
  
}

.submit-button{
    background-color: white;
    color: black;
    border: 2px solidblack;
    width: 8rem ;
    transition-duration: 0.4s;
}

.submit-button:hover{
    background-color:  rgb(37,58,179); 
    color: rgb(1,254,180);
}

.email-field{
 margin: 1rem 1rem;

}

.password-field{
margin: 1rem 1rem;

}

.home-shape{
display: block;
filter: drop-shadow(8px 4px 5px #969696);

}